.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3.5rem;
    align-items: center;
    padding: 15px;
}
.logos span{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
