.image{
  position: relative;
}
.icon{
    position: absolute;
    right: 5px;
    color: black;
    animation: blinker 4s linear infinite;
    color: red;
    
}
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.a{
    color: blue;
    display: flex;
    align-items: center;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.card{
    margin-bottom: 2rem;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
.description{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
}
.card:hover .description{ 
    transition: .6s;
    visibility: visible;
    opacity: 1;
    
}

.projeAciklama{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.projeAciklama img{
    border-radius: 8%;
}
.projeAciklama p{
    display: flex;
    align-items: center;
    background-color: #EFEFF5;
    width: 100%;
    padding: 1rem;
}
@media  screen and (max-width:1165px) {
    .projects{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card{
        width: 100%;
      }
      .description{
        padding: 15px;
        
    }
    .projeAciklama{
        margin:0;
        padding: 0;
        flex-direction: column;
        margin-top: 1rem;
    }
    .projeAciklama img{
        border-radius: 8%;
    }
    .projeAciklama p{
        margin: 0;
        margin-top: 1rem;
    }
}
