.a{
    color: blue;
}
.projeAciklama{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    padding-left: 5%;
    margin-bottom: 2rem;
}
.projeAciklama img{
    border-radius: 8%;
}
.projeAciklama p{
    display: flex;
    align-items: center;
    background-color: #EFEFF5;
    height: 7rem;
    width: 100%;
    margin-left: 3rem;
    padding: 1rem;
}
@media  screen and (max-width:1165px) {
    .projeAciklama{
        height: 100%;
        padding-left: 5%;
    }
    .projeAciklama p{
        height: 100%;
        margin-left: 1rem;
        padding: 1rem;
    }
}
